.demo {
  display: flex;
  flex-wrap: wrap;

  &__props,
  &__component {
    margin: 1.5rem;
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__config {
    width: 100%;
  }

  &__select {
    background-color: transparent;
  }

  &__component {
    flex: 1;
  }

  &__wrap {
    box-sizing: border-box;
    max-width: 80vw;
    overflow: auto;
  }

  &__props {
    flex: 2;

    th {
      background-color: $light;
    }

    table,
    th,
    td {
      border-collapse: collapse;
    }

    th,
    td {
      padding: 1rem;
    }
  }
}
