// sass-lint:disable no-url-protocols

///////////////////////IBM Plex//////////////////////
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 300;
  src: local('IBMPlexSans-Light'),
  local('IBMPlexSans Light'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-light.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-light.woff') format('woff');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 400;
  src: local('IBMPlexSans-Regular'),
  local('IBMPlexSans Regular'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-regular.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-regular.woff') format('woff');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 500;
  src: local('IBMPlexSans-Medium'),
  local('IBMPlexSans Medium'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-medium.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-medium.woff') format('woff');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 600;
  src: local('IBMPlexSans-Bold'),
  local('IBMPlexSans Bold'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-bold.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-bold.woff') format('woff');
}


///////////////////////IBM Plex Italic//////////////////////
@font-face {
  font-family: 'IBMPlexSans';
  font-style: italic;
  font-weight: 300;
  src: local('IBMPlexSans-LightItalic'),
  local('IBMPlexSans LightItalic'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-lightitalic.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-lightitalic.woff') format('woff');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: italic;
  font-weight: 400;
  src: local('IBMPlexSans-Italic'),
  local('IBMPlexSans Italic'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-italic.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-italic.woff') format('woff');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: italic;
  font-weight: 500;
  src: local('IBMPlexSans-MediumItalic'),
  local('IBMPlexSans MediumItalic'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-mediumitalic.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-mediumitalic.woff') format('woff');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: italic;
  font-weight: 600;
  src: local('IBMPlexSans-BoldItalic'),
  local('IBMPlexSans BoldItalic'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-bolditalic.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-bolditalic.woff') format('woff');
}

///////////////////////IBM Plex Mono//////////////////////
@font-face {
  font-family: 'IBMPlexMono';
  font-weight: 400;
  src: local('IBMPlexMono-RegularItalic'),
  local('IBMPlexMomo RegularItalic'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-regularitalic.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-regularitalic.woff') format('woff');
}

@font-face {
  font-family: 'IBMPlexMono';
  font-style: italic;
  font-weight: 400;
  src: local('IBMPlexMono-Regular'),
  local('IBMPlexMomo Regular'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-mediumitalic.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-mediumitalic.woff') format('woff');
}

@font-face {
  font-family: 'IBMPlexMono';
  font-weight: 600;
  src: local('IBMPlexMono-SemiBold'),
  local('IBMPlexMomo SemiBold'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-semibold.woff2') format('woff2'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-semibold.woff') format('woff');
}
