$black: #000;
$white: #fff;
$border: 2px solid $black;
$size: 2.5em;

.datepicker {
  box-sizing: border-box;
  font-size: 1rem;
  position: relative;

  * { // sass-lint:disable-line no-universal-selectors
    box-sizing: border-box;
  }

  &__activate {
    display: inline-block;
    height: 1em;

    &:hover {
      cursor: pointer;
    }
  }

  &__label {
    display: block;
  }


  &__popup {
    display: none;
    left: 0;
    position: absolute;
    top: 3rem;
    width: 18.75em;

    &[data-state='open'] {
      display: block;
    }
  }

  &__calendar {
    background: $white;
  }

  &__cancel {
    background: $white;
    border: $border;
    border-radius: 50%;
    color: transparent;
    height: $size;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-1em) translateX(1em);
    width: $size;

    &:hover {
      cursor: pointer;
    }

    &::before {
      color: $black;
      content: 'x';
      display: block;
      font-size: $size - 1em;
      font-weight: bold;
      speak: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .calendar__body {
    grid-auto-rows: 2.25em;
  }

  .calendar__head {
    border: {
      left: $border;
      right: $border;
    }
  }

  .calendar__header {
    border: {
      left: $border;
      right: $border;
      top: $border;
    }
  }
}
