@import '~ibm-design-colors/ibm-colors';

$primary: color('cerulean', 50);
$light: color('cool-white', 4);
$grey: color('black', 100);
$white: color('white', 0);

@import 'partials/fonts';
@import 'partials/base';
@import 'partials/navbar';
@import 'partials/container';
@import 'partials/hero';
@import 'partials/demo';
@import 'partials/syntax-highlighting';
